@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.nav-buttons {
    margin-left: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    color: #D8d8d8;
}

button {
    font-size: 0.8rem;
    font-weight: 800;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}

button:hover {
    background-color: coral;
}

.navbar {
    font-size: 16px;
    padding-top: 2rem;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-nav .nav-link {
    padding: 0 20px;
    color: #000;
    transition: 0.4s ease;
}

.navbar .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar .navbar-nav .nav-link.active,
.navbar i:hover {
    color: coral;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 1px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}

@media only screen and (max-width: 990px) {
    .nav-buttons {
        margin: 10px;
    }

    .nav-buttons ul {
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fas {
        margin: 20px 5px 10px 20px;
    }
}

#home {
    background-image: url("../images/background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    /*background-position-x: 90px;  paveikslelio pozicijos stumdymas*/
    /*background-position-y: 90px;  paveikslelio pozicijos stumdymas*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: coral;
}

#new .one img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one {
    position: relative;
}

#new .one .details {
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.5;
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 100%;
}

#new .one .details:hover {
    background-color: cornsilk;
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/* Product */

.product {
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img {
    transition: 0.3s all;
    max-height: 225px;
}

.product:hover img {
    opacity: 0.7;
}

.product .buy-btn {
    background-color: #fb774b;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn {
    transform: translateY(0px);
    opacity: 1;
}

hr {
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: #fb774b;
}

.star {
    padding: 10px 0;
}

.star i {
    font-size: 0.9rem;
    color: goldenrod;
}

#banner {
    background-image: url("../images/baner.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h1 {
    color: coral;
}


#banner button {
    background-color: #fb774b;
}

#banner button:hover {
    background-color: #1d1d1d;
}

footer {
    background-color: #222222;
}

footer h5 {
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
}

footer li a {
    font-size: 0.8rem;
    color: #999999;
    text-decoration: none;
}

footer li a:hover {
    color: #D8d8d8;
}

footer .copyright a {
    color: #000000;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 38px;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover {
    color: #ffffff;
    background-color: #fb774b;
}

footer p {
    color: #ffffff;
}

footer .copyright img {
    width: 20%;
}

.logo {
    width: 100px;
    height: 40px;
}

.navbar .brad {
    color: coral;
    margin: 3px 5px;
    font-size: 1.5rem;
}

.small_img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;

}

.single_product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single_product input:focus {
    outline: none;
}

.single_product .buy-btn {
    background-color: #fb774b;
    opacity: 1;
    transition: 0.4s all;
}

.single_product .buy-btn:hover {
    background-color: #222222;
}

/* CART */

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info {
    display: flex;
    flex-wrap: wrap;
}

.cart th {
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #fb774b;
}

.cart td {
    padding: 10px 20px;
}

.cart td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

.cart td .a {
    color: #fb774b;
}

.cart .remove-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;
}

.cart .edit-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 15px;
}

.cart .product-info p{
    margin: 3px;
}